:root {
  --defaultFontFamily: 'Times New Roman', Times, serif;
  --defaultFontSize: 28px;
  --defaultFontHeadingSize: 32px;
  --defaultButtonWidth: 250px;
  --defaultButtonHeight: 80px;
  --defaultBackgroundColor: black;
  --defaultFontColor: white;
  --imageFilePathName: "resources/images/";
}

.background-body-second {
  background-color: var(--defaultBackgroundColor);
  overflow: hidden;
}

.fade-in-text-heading {
  font-size: var(--defaultFontHeadingSize);
  font-family: var(--defaultFontFamily);
  color: var(--defaultFontColor);
  animation: fadeIn 5s;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.row {
  display: flex;
}

.column {
  padding: auto;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 12px;
  border: 2px solid white;
  height: 600px;
  background-size: cover;
}

.column:last-child {
  margin-right: 0;
}

.container-main {
  width: 400px;
  text-align: center;
  font-size: var(--defaultFontSize);
  font-family: var(--defaultFontFamily);
  color: var(--defaultFontColor);
  background-color: black;
  margin-top: 142%;
  background-size: cover;
  transition-duration: 0.4s;
  border-radius: 12px;
}

.academic-column {
  background-image: url(academic_2_gray.JPG);
  transition-duration: 0.4s;
}

.academic-column:hover .container-main{
  background-color: white;
  color: black;
}

.academic-column:hover{
  background-image: url(academic_2.JPG);
}

.sport-column {
  background-image: url(sport_4_gray.jpg);
  transition-duration: 0.4s;
}

.sport-column:hover {
  background-image: url(sport_4.jpg);
}

.sport-column:hover .container-main{
  background-color: white;
  color: black;
}
.other-column {
  background-image: url(other_1_gray.jpg);
  transition-duration: 0.4s;
}
.other-column:hover{
  background-image: url(other_1.jpg);
}

.other-column:hover .container-main{
  background-color: white;
  color: black;
}

.back-button{
  color: var(--defaultFontColor);
  background-color: black;
  border-color: white;
  font-family:var(--defaultFontFamily);
  font-size: var(--defaultFontSize);
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.1s;
  width:var(--defaultButtonWidth/2);
  height: var(--defaultButtonHeight/2);
  left: 2%;
  top:2%;
  position:absolute;
}

.back-button:hover {
  color: black;
  background-color: white;
  border-color: black;
  font-family:var(--defaultFontFamily);
  font-size: var(--defaultFontSize);
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width:var(--defaultButtonWidth/2);
  height: var(--defaultButtonHeight/2);
  left:2%;
  top:2%;
  position:absolute;
  
}