:root{
   --defaultFontFamily : 'Times New Roman', Times, serif ;
   --defaultFontSize: 25px;
   --defaultButtonWidth: 250px;
   --defaultButtonHeight: 80px;
   --defaultBackgroundColor: black;
}

.hover-button {
    color: white;
    background-color: black;
    border-color: white;
    font-family:var(--defaultFontFamily);
    font-size: var(--defaultFontSize);
    text-align: center;
    border-radius: 12px;
    transition-duration: 0.4s;
    width:var(--defaultButtonWidth);
    height: var(--defaultButtonHeight);
    left: 42%;
    top:80%;
    position:absolute;
}

.hover-button:hover {
    color: black;
    background-color: white;
    border-color: black;
    font-family:var(--defaultFontFamily);
    font-size: var(--defaultFontSize);
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width:var(--defaultButtonWidth);
    height: var(--defaultButtonHeight);
    left:42%;
    top:80%;
    position:absolute;
}

.background-body-front {
    background-color: var(--defaultBackgroundColor);
}