:root{
   --defaultFontFamily : 'Times New Roman', Times, serif ;
   --defaultFontSize: 25px;
   --defaultFontHeadingSize: 30px;
   --defaultButtonWidth: 250px;
   --defaultButtonHeight: 80px;
   --defaultBackgroundColor: black;
   --defaultFontColor: white;
   --imageFilePathName: "resources/images/";
}

.hover-button {
    color: var(--defaultFontColor);
    background-color: black;
    border-color: white;
    font-family:var(--defaultFontFamily);
    font-size: var(--defaultFontSize);
    text-align: center;
    border-radius: 12px;
    transition-duration: 0.4s;
    width:var(--defaultButtonWidth);
    height: var(--defaultButtonHeight);
    left: 42%;
    top:85%;
    position:absolute;
}

.hover-button:hover {
    color: black;
    background-color: white;
    border-color: black;
    font-family:var(--defaultFontFamily);
    font-size: var(--defaultFontSize);
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width:var(--defaultButtonWidth);
    height: var(--defaultButtonHeight);
    left:42%;
    top:85%;
    position:absolute;
}

.background-body-front {
    background-color: var(--defaultBackgroundColor);
    overflow: hidden;
}

.fade-in-text-heading {
    font-size: var(--defaultFontHeadingSize);
    font-family: var(--defaultFontFamily);
    color: var(--defaultFontColor);
    animation:  fadeIn 5s;
    text-align: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
 
  .img-headshot{
    height:650px;
    width: 500px;
    background-image: url(/resources/images/head_shot_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    border: 2px solid white;
    animation:  fadeIn 5s;
  }

  .text-container {
    position: absolute;
    top: 50%;
    left: calc(50% + 300px); /* Adjust the value based on the width of your image */
    transform: translateY(-50%);
    text-align: left;
  }

  .text-container p {
    color: white;
    font-family: var(--defaultFontFamily);
    font-size: var(--defaultFontSize);
    font-style: italic;
    animation: fadeIn 5s;
  }